<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3'>
    <div class="container">
      <img class="mr-3" src="../../assets/logocompras.png"  width="50" height="50" />
      <p class="text-light  font-italic h3">Speed Buyer |</p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex " [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-light" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-light" [routerLink]='["/produto"]'>Produtos</a>
          </li>
          
        </ul>
      </div>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!usuarioLogado()">
            <a class="nav-link text-light" [routerLink]='["/entrar"]'>Entrar</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="usuarioLogado()" >
            <a class="nav-link text-light" [routerLink]='[""]' (click)="sair()">Sair</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!usuarioLogado()">
            <a class="nav-link text-light" [routerLink]='["/cadastrar"]'>Cadastrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
